.alert {
  position: absolute;
  left: 299px;
  top: 201px;
  width: 437px;
  height: 192px;
  margin: 0;
  padding: 62px 107px 0 104px;
  text-align: center;
}
.delete-btnMarg {
  margin: 19px;
}
.delete-alertMarg {
  margin-top: 26px;
}
