.groupMember-groupName {
  display: inline-block;
  margin-left: 12px; 
  line-height: 12px;
  border-radius: 32px;
  border: 1px solid #108ee9;
  text-align: center;
  vertical-align: super;
  padding: 6px 14px;
  font-size: 12px;
  color: #108ee9;
}

