.status-item-container{
    position: relative;
    width: 1035px;
    height: 322px;
    overflow: hidden;
    margin: 54px auto 60px auto;
    border-radius: 6px;
    background-color: #fbfbfb;
    padding: 43px 75px;
    -moz-box-shadow: 0px 2px 8px rgba(8, 5, 5, 0.1); /* for firefox */
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* for safari or chrome */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* for opera or ie9 */
}
.presonal-status{
    border-bottom: solid 1px #919191;
    padding: 75px;

}
.status-head{
    display: flex;
    align-items: center;
}
.status-item-name{
    font-size: 16px;
    margin-left: 11px;
}
.status-item-time{
    font-size: 12px;
    margin-left: 11px;
}
.open{
    position: absolute;
    font-size: 16px;
    right: 120px;
    margin-top: -25px;
}
.status-item-content{
    width: 722px;
    height: 130px;
    overflow: hidden;
    font-size: 16px;
    margin-left: 70px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;        
}
.others{
    display: flex;
    align-items: center;
}
.status-item-good{
    margin-left: 80%;
    width: 25px;
    height: 25px;
}
.status-item-goodnumber{
    margin-left: 6px;
    font-size: 14px;
}
.status-item-commet{
    margin-left: 59px;
    width: 25px;
    height: 25px;
}
.status-item-comments{
    margin-left: 6px;
    font-size: 14px;
}
