.status-item-container {
  position: relative;
  width: 884px;
  height: auto;
  overflow: hidden;
  margin: 54px auto 60px auto;
  border-radius: 4px;
  background-color: #fbfbfb;
  padding: 28px 30px 21px 30px;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); /* for firefox */
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); /* for safari or chrome */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); /* for opera or ie9 */
}
.status-firstItem-container {
  margin-top: 0;
}
.presonal-status {
  border-bottom: solid 1px #919191;
  padding: 30px 35px 25px 24px;
}
.status-head {
  display: flex;
  align-items: center;
}
.status-item-name {
  font-size: 16px;
  margin-left: 11px;
}
.status-item-time {
  color: #919191;
  font-size: 12px;
  margin-left: 11px;
  margin-top: 4px;
}
.open {
  position: absolute;
  font-size: 16px;
  right: 28px;
  margin-top: -25px;
  color: #108ee9;
}
.open-person {
  position: absolute;
  font-size: 16px;
  right: 35px;
  margin-top: -25px;
  color: #108ee9;
}
.status-item-content {
  width: 722px;
  height: auto;
  min-height: 90px;
  max-height: 139px;
  margin-bottom: 40px;
  overflow: hidden;
  font-size: 16px;
  margin-left: 70px;
  margin-top: 20px;
  text-overflow: ellipsis;
}
.status-item-link-content {
  font-size: 16px;
  color: black;
  text-overflow: ellipsis;
}
.status-personal-link-content {
  font-size: 16px;
  color: black;
  text-overflow: ellipsis;
}
.status-personal-content {
  width: 722px;
  max-height: 80px;
  min-height: 50px;
  overflow: hidden;
  margin-left: 70px;
  margin-top: 20px;
}
.others {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.status-item-good {
  margin-top: 3px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
.status-item-goodnumber {
  margin-left: 6px;
  font-size: 14px;
}
.status-item-commet {
  margin-top: 3px;
  margin-left: 26px;
  width: 21px;
  height: 21px;
}
.status-item-comments {
  margin-left: 6px;
  font-size: 14px;
}
