.search-container {
    min-height: 1053px;
}
.search-header {
    padding-top:11px;
}
.search-input {
    width: 585px;
    height: 40px;
    border: 1px solid #1d4cb5;
    border-radius: 2px;
    margin-top: 16px;
    outline:none;
    display: inline-block;
}
.search-but {
    display: inline-block;
    margin-left: 24px;
    vertical-align: middle;
}
.search-item {
    margin-top: 25px;
}
.search-item-kind {
    vertical-align: top;
    display: inline-block;
    width: 48px;
    font-size: 16px;
    color: rgba(64,64,64,1);
    line-height: 21px;
}
.search-item-name {
    font-size: 16px;
    color:rgba(16,142,233,1);
    line-height:21px;
}
.search-item-content {
    display: inline-block;
    margin-left: 10px;
}
.search-item-text {
    margin-top: 10px;
    width: 774px;
    height: 87px;
    font-size:16px;
    color:rgba(64,64,64,1);
    line-height:21px;
    overflow : hidden;
}
.search-item-project {
    margin-top: 12px;
    font-size: 14px;
    color: rgba(145,145,145,1);
    line-height: 19px;
}
.search-item-date {
    font-size: 12px;
    color:rgba(191,191,191,1);
    line-height: 19px;
}
.search-item-fileimg {
    width: 50%;
}
.search-item-filename {
    width: 50%;
    text-align: center;
    font-size:16px;
    color:rgba(64,64,64,1);
    padding-top: 6px;
}
.search-item-filecreator {
    width: 50%;
    text-align: center;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(64,64,64,1);
    height: 19px;
}
.search-item-footer {
    margin-left: 60px;
}