.othercomments{
    width: 90%;
    margin: 30px auto;
}
.comments-message{
    display: flex;
    align-items: center;
}
.comments-userInfo {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.comments-userInfo div {
    color: #404040;
    font-family: MicrosoftYaHei;
}

.comments-name{
    margin-left: 8px;
    font-size: 16px;
}
.comments-time{
    margin-left: 8px;
    font-size: 13px;
}
.comments-answer{
    margin-left: 75%;
}
.status-comments-detail{
    margin: 0 auto;
    width: 85%;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    line-height: 21px;
}