.projectDetail-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

.create-file-alert-icon {
  position: absolute;
  top: 58px;
  left: 165px;
}

input[type="text"].create-file-alert-input {
  border-radius: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.create-file-alert-input {
  position: absolute;
  left: 114px;
  top: 153px;
  width: 175px;
  height: 24px;
  text-align: center;
  outline: none;
  border: 0px;
  background: none;
  border-bottom: 1px solid RGBA(151, 151, 151, 1);
  border-radius: 0;
  padding: 0;
}

.create-file-alert-cancel {
  position: absolute;
  top: 210px;
  left: 112px;
}

.create-file-alert-done {
  position: absolute;
  top: 210px;
  left: 225px;
}

.delete-file-alert-tip {
  position: absolute;
  top: 63px;
  left: 139px;
  width: 161px;
  height: 24px;
  font-size: 16px;
  color: rgba(64, 64, 64, 1);
  line-height: 24px;
}

.delete-file-alert-cancel {
  position: absolute;
  top: 136px;
  left: 128px;
}

.delete-file-alert-done {
  position: absolute;
  top: 136px;
  left: 241px;
}

.move-file-alert-tip {
  position: absolute;
  top: 15px;
  left: 31px;
  width: 185px;
  height: 24px;
  font-size: 16px;
  color: rgba(64, 64, 64, 1);
  line-height: 24px;
}

.move-file-alert-cancel {
  position: absolute;
  left: 267px;
  top: 196px;
}

.move-file-alert-done {
  position: absolute;
  left: 340px;
  top: 196px;
}

.move-file-tree-container {
  position: absolute;
  top: 46px;
  left: 35px;
  width: 374px;
  height: 140px;
  border-radius: 2px;
  border: 1px solid rgba(189, 189, 189, 1);
}

.projectDetail-content {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectDetail-header {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.projectDetail-header-left {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectDetail-header-intro {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.projectDetail-header-right {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectDetail-header-icon-container {
  margin: 0 8px;
}

.projectDetail-file-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
}

.projectDetail-file-header {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectDetail-file-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(29, 76, 181, 1);
  line-height: 26px;
}

.projectDetail-file-select {
  margin-left: 28px;
}

.projectDetail-file-items {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.file-item {
  margin-right: 104px;
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  .uploading {
    display: flex;
    align-items: center;
    .text {
      margin-left: 4px;
      font-size: 11px;
      color: #919191;
    }
  }
}

.file-item:nth-child(4n) {
  margin-right: 0;
}

.file-item:first-child {
  margin-right: 104px;
}

.projectDetailIndex-lookAtAllDoc{
  display: inline-block;
  margin-top: 20px;
}