.teamMember-title{
    display: block;
    font-size: 24px;
    margin-bottom: 16px;
}
.teamMember-select{
    display: inline-block;
    width: 650px;
    white-space:nowrap;
    overflow: scroll;
}
.teamMember-select::-webkit-scrollbar{
    width:0;
    height: 0;
}
.teamMember-selectItem{
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
    border-radius:32px;
    white-space:nowrap;
    margin-right: 12px;
}
.teamMember-singleItem{
    border: 0;
    display: inline-block;
    background-color: #D7F0FF;
    font-size: 16px;
    color: #919191;
}
.teamMember-singleItemSelected{
    background-color: #1D4CB5;
    color: #FBFBFB;
}
.teamMember-fakeMarg{
    margin-right: 12px;
}
.teamMember-present{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.teamMember-singleList{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: solid 1px #979797;
    padding: 16px 0;
}
.teamMember-imgSize{
    width: 60px;
    height: 60px;
    margin-right: 13px;
}
.teamMember-littleGroup{
    padding: 0 6px;
    height:21px;
    line-height: 21px;
    border-radius:32px;
    border:1px solid #979797;
    font-size: 10px;
    color: #919191;
    text-align: center;
}
.teamMember-personalIntro{
    display: inline-block;
    width: 380px;
}
.teamMember-role{
    margin-left: 6px;
    font-size: 10px;
    color: #919191;
}

