.message-container {
    min-height: 712px;
}
.message-header {
    height: 90px;
    border-bottom: 1px solid #979797;
}
.message-all {
    font-size:24px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(29,76,181,1);
    line-height:31px;
}
.message-readed {
    float: right;
    font-size:16px;
    font-family:MicrosoftYaHei;
    color:rgba(16,142,233,1);
    line-height:90px;
}
.message-readall{
    cursor: pointer;
}
.message-item {
    width: 100%;
    height: 92px;
    line-height: 92px;
    border-bottom: 1px solid #979797;
}
.message-text {
    width: 580px;
    display: inline-block;
}
.message-date {
    display: inline-block;
}
.message-none{
    text-align: center;
    margin-top: 23px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    color:rgba(145,145,145,1);
    line-height:21px;
}