.fileIcon-img{
  margin: 0 auto;
}
.search-item-filename {
  display: block;
  text-align: center;
  font-size:16px;
  padding-top: 6px;
}
.search-item-filecreator {
  text-align: center;
  font-size:14px;
  font-family:MicrosoftYaHei;
  height: 19px;
}
.search-item-name {
  font-size: 16px;
  color:rgba(16,142,233,1);
  line-height:21px;
}
.search-item-content {
  display: inline-block;
  margin-left: 10px;
}
.search-item-file{
  width: 200px;
}
.search-item-text {
  margin-top: 10px;
  width: 774px;
  max-height: 85px;
  font-size:16px;
  color:rgba(64,64,64,1);
  line-height:21px;
  overflow: hidden;
  position: relative;
}
.search-item-text::after {
  content:"...";
  font-weight:bold;
  position:absolute;
  bottom:0;
  right:0;
  padding:0 20px 1px 45px;
  
  /* 为了展示效果更好 加了渐变 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
