.main {
  margin-right: 75px;
  padding: 39px 0 54px 35px;
  border-bottom: 1px solid #979797;
}
.personalSet-avatar {
  display: inline-block;
  height: 114px;
  margin: 0 27px 42px 0;
}
.avaTip {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-top: 26px;
}
.avaForm {
  color: #919191;
  font-size: 10px;
}
.writeTip {
  width: 360px;
  height: 40px;
  margin-left: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.footer {
  padding: 39px 0 40px 35px;
}
.sel {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-left: 31px;
}
.personalSet-selectImg{
  position: relative;
  left: -75px;
  top: -2px;
  cursor: pointer;
  font-size: 20px;
  width: 5em;
  opacity: 0;
}
