.main {
  position: relative;
  margin-right: 75px;
  padding: 39px 0 54px 35px;
  border-bottom: 1px solid #979797;
}
.personalSet-avaTip {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-top: 26px;
  margin-left: 27px;
}
.personalSet-inputList{
  margin-top: 42px;
}
.avaForm {
  color: #919191;
  font-size: 10px;
}
.personalSet-writeTip {
  width: 360px;
  height: 40px;
  margin-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.personalSet-warning{
  margin-left: 50px;
  margin-bottom: 10px;
}
.footer {
  padding: 39px 0 40px 35px;
}
.sel {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-left: 31px;
}
.personalSet-imgSelectImg{
  position: absolute;
  left: 35px;
  top: 39px;
  cursor: pointer;
  font-size: 0;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  opacity: 0;
}
.personalSet-spanSelectImg{
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  font-size: 0;
  width: 0;
  height: 0;
  padding-left: 80px;
  padding-bottom: 16px;
  opacity: 0;
}
.personalSet-selectImg{
  position: relative;
  cursor: pointer;
}
