.personal{
    display: flex;
    justify-content: space-between;
}
.personalInfo-saveBtn{
    /* padding: 0; */
    margin-right: 0;
    white-space: nowrap;
}
.personalInfo-avatar {
    display: inline-block;
    width: 114px;
    height: 114px;
    margin: 0 27px 15px 0;
}
.personalName{
    display: inline-block;
    font-size: 30px;
    margin-right: 21px;
    margin-bottom: 12px;
}
.personalIntro{
    display: inline-block;
}
.personalInfo-personalInformation{
    display: flex;
    align-items: center;
}
.personalInfo-select{
    position: relative;
    width: 1035px;
    line-height: 60px;
    left: -75px;
    border-top: solid 1px #1D4CB5;
    border-bottom: solid 1px #1D4CB5;
    padding-left: 75px;
}
.selectItem{
    display: flex;
    width: 184px;
    justify-content: space-between;
}
.singleItem{
    width: 60px;
    text-align: center;
}
.personalInfo-active{
    background-color: #ECF6FD;
}