.feed-today{
    width: 58px;
    height: 58px;
    font-size: 24px;
    border-radius: 50%;
    border:2px solid #D7F0FF;
    text-align: center;
    line-height: 54px;
    float: left;
    margin-top: 17px;
}
.feed-day{
    width: 58px;
    height: 58px;
    font-size: 18px;
    border-radius: 50%;
    border:2px solid #D7F0FF;
    text-align: center;
    line-height: 29px;
    float: left;
    margin-top: 17px;
}