.fileIcon-container {
  padding: 0 10px;
}
.fileItem-content {
  width: 135px;
  height: 138px;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fileIcon-img {
  width: 135px;
  height: 86px;
}

.fileIcon-text {
  margin-top: -10px;
  font-size: 16px;
  width: 135px;
  /* white-space:nowrap; */
  text-align: center;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileIcon-footer {
  position: absolute;
  width: 135px;
  padding: 0 10px;
  margin-top: -20px;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fileIcon-footer > div, a {
  color: #108EE9;
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}