.docPreview-header-creator {
  margin-left: 13px;
  font-size:12px;
  font-weight: 400;
  color: rgba(116,117,118,1);
  max-width: 100px;
}

.docPreview-header-lasteditor {
  margin-left: 21px;
  font-size:14px;
  color: rgba(64,64,64,1);
  max-width: 130px;
}

.docPreview-header-lasteditor span {
  font-size: 8px;
}

.docPreview-header-url {
  margin-left: 6px;
  white-space: nowrap;
}

.docPreview-header-url span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(29,76,181,1);
}

.docPreview-header-url span a{
  font-size: 14px;
  font-weight: 400;
  color: rgba(29,76,181,1);
}

.docPreview-header-right {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.docPreview-header-right div, .docPreview-header-right a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(16,142,233,1);
  line-height: 22px;
  margin-left: 27px;
  cursor: pointer;
  white-space: nowrap;
}

.docPreview-time {
  font-size: 14px;
  color: rgba(64,64,64,1);
  line-height: 19px;
  margin-bottom: 10px;
}

.docPreview-md-markdown {
  min-height: 354px;
  margin-top: 20px;
  width: 100%;
  border: white;
  display: felx;
  display: -webkit-flex;
}

.docPreview-md-preview {
  min-height: 354px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  padding: 10px 20px;
}