.component-icon-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  cursor: pointer;
}

.component-icon-svg {
  width: 20px;
  height: 20px;
}

.component-icon-text {
  font-size: 20px;
  color: #108EE9;
}

.component-icon-tip {
  font-size: 14px;
  color: #108EE9;
}