.personalAttention-litSel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 500px;
}
.personalAttention-size{
    font-size: 14px;
    margin-left: 20px;
    width: 150px;
}
.personalAttention-vice{
    width: 400px;
    margin-left: 26px;
    line-height: normal;
    vertical-align: middle;
    text-align: left;
}
.IB{
    display: inline-block;
}
.personalAttention-cell {
    display: flex;
    align-items: center;
    height: 74px;
    margin-bottom: 36px;
}
.personalAttention-imgSize{
    width: 63px;
    height: 63px;
    vertical-align: middle;
}
.personalAttention-btnMargin{
    margin-left: 30px;
}
.personalAttention-goFile{
    cursor: pointer;
}
.personalAttention-name{
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}