.personalAttention-litSel {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.personalAttention-size{
    font-size: 14px;
    margin-top: 3px;
}
.personalAttention-vice{
    width: 470px;
    margin-left: 26px;
    line-height: normal;
    vertical-align: middle;
}
.IB{
    display: inline-block;
}
.personalAttention-cell {
    display: flex;
    align-items: center;
    height: 74px;
    margin-bottom: 36px;
}
.personalAttention-imgSize{
    width: 63px;
    height: 63px;
    vertical-align: middle;
}
.personalAttention-tip{
    text-align: center;
    color: rgb(133, 131, 131);
}