.main{
    margin-right: 75px;
    padding: 39px 0 54px 35px;
    border-bottom: 1px solid #979797;
}
.avatar{
    display: inline-block;
    width: 114px;
    height: 114px;
    margin: 0 27px 42px 0;
}
.avaTip{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-top: 26px;
}
.avaForm{
    color: #919191;
    font-size: 10px;
}
.writeTip{
    width: 360px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.15);
}
.footer{
    padding: 39px 0 40px 35px;
}
.sel{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 31px;
}
.isSave{
    position: absolute;
    top: 23px;
    left: 373px;
    margin: 0;
    padding: 0;
    width: 290px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,0.65);
}
.circle {
    position: relative;
    top: 3px;
    display: inline-block;
	border-radius: 50%;
	width: 16px;
    height: 16px; 
    border: 1px solid #108EE9;
    margin-right: 9px;
}
.circle::after{
    position: absolute;
    top: -10px;
    left: 1px;
    content: '\2713';
    color: #108EE9;
}
