.header-container {
  position: absolute;
  width: 100%;
  min-width: 1080px;
  height: 67px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  overflow: visible;
  z-index: 9;
}

.header-content {
  width: 1080px;
  padding: 0 20px 0 20px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: -webkit-flex; /* Safari */
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  .home-link {
    display: flex;
    align-items: center;
  }
}

.header-logo-img {
  width: 43px;
  height: 36px;
  margin-left: 20px;
}

.header-logo-text {
  width: 120px;
  margin-left: 12px;
  font-size: 20px;
  color: #3861bd;
}

.header-tab-container {
  margin-left: 40px;
  height: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: left;
  align-items: center;
  /* border-top: 3px solid transparent;
  border-bottom: 3px solid #3861bd; */
}

.header-tab-item {
  height: 100%;
  width: 57px;
  margin: 0 6px;
  font-size: 14px;
  text-decoration: none;
  color: #404040;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.header-tab-item-active {
  color: #1d4cb5;
  border-bottom: 3px solid #1d4cb5;
}

.header-right {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-width: 250px;
}

.header-search-icon {
  cursor: pointer;
}

input[type="text"].header-search-input {
  border-radius: 0;
  padding: 0;
}

.header-search-input {
  width: 123px;
  margin-left: 11px;
  outline: none;
  border: 0px;
  background: none;
  border-bottom: 1px solid #919191;
  border-radius: 0;
  padding: 0;
}

.header-info-icon {
  margin-left: 11px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.header-avatar {
  margin-left: 11px;
  cursor: pointer;
}

.header-write-progress {
  margin-left: 28px;
  width: 74px;
  height: 74px;
  background: rgba(29, 76, 181, 100);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 0 0 7px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fbfbfb;
  font-weight: regular;
  cursor: pointer;
}

.header-write-progress:hover {
  background: rgba(29, 76, 181, 0.9);
}
