.textareaSize{
    width:585px;
    height:101px;
}
.select{
    display: inline-block;
    margin-top: 237px;
    margin-bottom: 188px;
}
.alert{
    position: absolute;
    left: 299px;
    top: 201px;
    width: 437px;
    height: 192px;
    margin: 0;
    padding: 62px 107px 0 104px;
    text-align: center;
}
.btnMarg{
    margin: 19px;
}
.alertMarg{
    margin-top: 26px; 
}
.link{
    color: white;
    text-decoration: none;
}