.EditMem_tip{
  margin-top: 2px;
  font-size: 14px;
  color: #919191;
}
.EditMem_vice{
  display: inline-block;
  margin: 16px 484px 17px 0;
}
.EditMem_FS{
  font-size: 14px;
}
.EditMem_btnMarg{
  left: 250px;
  top: 91%;
}