.move {
  display: inline-block;
  margin-top: 34px;
  margin-bottom: 30px;
}
.selectMember-fontSize {
  font-size: 12px;
}
.selectMember-fontColor {
  color: #1d4cb5;
}
.selectMember-btnMArg {
  position: relative;
  top: -10px;
  margin-left: 31px;
}
.selectMember-titleMarg {
  margin-bottom: 15px;
  margin-right: 600px;
}
