.status-item-container{
    width: 80%;
    height: 322px;
    margin-top: 50px;
    margin-left: 20%;
    background-color: white;
    box-shadow: 0px 1px 15px #888888;

}
.status-head{
    margin-top: 9px;
    display: flex;
    align-items: center;
    padding: 28px 0 10px 24px;
}
.status-item-name{
    font-size: 16px;
    margin-left: 11px;
}
.status-item-time{
    font-size: 12px;
    margin-left: 11px;
}
.open{
    font-size: 16px;
    margin-left: 75%;
    margin-top: -25px;
}
.status-item-details{
    width: 722px;
    font-size: 16px;
    margin-left: 10%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;        
}
.others{
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.status-item-good{
    margin-left: 75%;
    width: 29px;
    height: 29px;
}
.status-item-goodnumber{
    margin-left: 10px;
    margin-top: 12px;
    font-size: 14px;
}
.status-item-commet{
    margin-left: 59px;
    margin-top: -8px;
    width: 21px;
    height: 21px;
}
.status-item-comments{
    margin-left: 20px;
    margin-top: 12px;
    font-size: 14px;
}
