.status-detail{
    position: relative;
    width: 68%;
    min-height: 716px;
    margin: 52px auto;
    background-color: #fbfbfb;
    border-radius: 6px;
    box-shadow: 0px 1px 15px #888888;
}
.status-detail-head{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 42px 0 28px 5%;
}
.stauts-detail-second{
    margin-left: 28px;
}
.status-detail-name{
    font-size: 24px;
}
.status-detail-time{
    font-size: 14px;
}
.status-detail-edit{
    margin-left: 21px;
    font-size: 16px;
}
.status-detail-detele{
    margin-left: 27px;
    font-size: 16px;
}
.status-detail-good{
    margin-left: 55%;
}
.status-detail-love{
    font-size: 16px;
    margin-left: -1%;
    margin-top: -5px;
}
.status-details{
    width: 80%;
    margin-left: 10%;
    font-size: 16px;
}
.line{
    width: 96%;
    margin-top: 10%;
    background-color: #cccaca;
    margin-left: 2%;
    border:0;
}