.selectMember {
  .header {
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
  }
}
.selectMember-vice {
  margin-right: 670px;
  margin-bottom: 24px;
}
.selectMember-present {
  margin-bottom: 64px;
}
