.projectDetail-content {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectDetail-header {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectDetail-header-left {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectDetail-header-intro {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}

.projectDetail-header-right {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectDetail-header-icon-container {
  margin: 0 8px;
}

.projectDetail-file-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
}

.peojectDetail-file-header {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectDetail-file-select {
  margin-left: 28px;
}

.projectDetail-file-items {
  margin-top: 34px;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.file-item {
  width: 25%;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}