.nowrap{
    display: inline-block;
}
.unit{
    width: 144px;
    margin-bottom: 21px;
}
.selectMem{
    width: 885px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    margin-top: -3px;
    margin-right: 6px;
    background-clip: content-box;
    border: 1px solid #D9D9D9;
    vertical-align: middle;
}
input[type="checkbox"]:checked+label::before {
    content: '';
    background-color: #1D4CB5;
}
input[type="checkbox"]:checked+label::after {
    content: '\2713';
    color: white;
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: 6px;
}
.fontColor{
    color: #404040;
}