.firstEditMember-tip {
  margin-top: 2px;
  font-size: 14px;
  color: #919191;
}
.firstEditMember-vice {
  display: inline-block;
  margin: 16px 484px 17px 0;
}
.firstEditMember-fontSize {
  font-size: 16px;
  color: #404040;
}
.firstEditMember-inlineWidth{
  display: inline-block;
  width: 96px;
  margin-left: 15px;
}