.personalAttention-litSel {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.personalAttention-size{
    font-size: 14px;
}
.personalAttention-vice{
    width: 570px;
    margin-left: 26px;
    line-height: normal;
    vertical-align: middle;
}
.IB{
    display: inline-block;
}
.personalAttention-cell {
    line-height: 74px;
}
.personalAttention-imgSize{
    width: 63px;
    height: 63px;
    vertical-align: middle;
}